@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #214e94;
}


.gradient-text {
  background: linear-gradient(to right, blue, green, red, yellow);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block; /* مهم لضمان عمل التدرج بشكل صحيح */
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #214e94;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
/* Default for all screens */

